@font-face {
    font-family: 'Lora Regular';
    src: url("/static/Lora-Regular.ttf") format("truetype");
}
body {
    font-family: 'Lora Regular', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222222;
}
.header-bar {
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 32px;
    width: 100%;
    height: 95px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    background: black;
    box-shadow: 0 30px 30px rgba(11, 129, 0, 0.2);
}
.logo {
    height: 65px;
    width: 65px;
    position: absolute;
    top: 15px;
    left: 30%;

}
.firstblockoftext{
    font-family: 'Lora Regular', serif;
    text-align: right;
    font-weight: 200;
    color: white;
}
.nav-bar {
    display: flex;
    position: absolute;
    top: 25%;
    left: 12px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    margin-bottom: 20px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: white;
}
.welcomeheader{
    position: absolute;
    top: 150px;
    left: 1000px;
    font-size: 45px;
    margin-right: 12px;
}
.welcomeheader:hover{
    cursor: pointer;
    color: rgb(22, 92, 10);
}
.firstext{
    position: absolute;
    top: 290px;
    left: 450px;
    line-height: 1.6;
    margin-right: 12px;
}
.aboutustext2:hover{
    cursor: pointer;
    color: rgb(22, 92, 10);
}
.abouttext{
    position: absolute;
    top: 600px;
    left: 1116px;
    line-height: 1.6;
    margin-right: 12px;
}
.aboutheader{
    position: absolute;
    top: 530px;
    left: 1160px;
    font-size: 45px;
    text-align: right;
    font-weight: 600;
}
.aboutheader:hover{
    cursor: pointer;
    color: rgb(22, 92, 10);
}
.games{
    position: absolute;
    top: 900px;
    left: 10px;
    line-height: 1.6;
    text-align: left;
}
.gamesheader{
    position: absolute;
    top: 820px;
    left: 10px;
    text-align: left;
    font-weight: 600;
}
.gamesheader:hover{
    color: rgb(22, 92, 10);
}
.newestnews{
    position: absolute;
    top: 480px;
    left: 50px;
    font-weight: 600;
    font-size: 30px;
}
.stairs{
    position: absolute;
    top: 520px;
    left: 50px;
    height: auto;
    width: 450px;
    border: 2px solid rgb(255, 255, 255);
}
.newstext{
    position: absolute;
    top: 757px;
    left: 55px;
    font-size: 16px;
    font-weight: 200;
}
.aboutustext{
    color: white;
    font-family: 'Lora Regular', serif;
}
.about{
    position: absolute;
    top: 480px;
    left: 10px;
}
.aboutuspagetext{
    position: absolute;
    top: 550px;
    left: 10px;
    line-height: 1.6;
    margin-right: 12px;
}
.doorimage{
    position: absolute;
    top: 700px;
    left: 10px;
    height: auto;
    width: 500px;
    border: 2px solid rgb(0, 0, 0);
}
.textunderimageonaboutuspage{
    position: absolute;
    top: 960px;
    left: 10px;
    font-size: 16px;
    font-weight: 200;
}
.backrooms{
    position: absolute;
    top: 700px;
    left: 800px;
    height: auto;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
}
.explainbackrooms{
    position: absolute;
    top: 960px;
    left: 800px;
    font-size: 16px;
    font-weight: 200;
}
.backroomsmonster{
    position: absolute;
    top: 1050px;
    left: 430px;
    height: auto;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
}
.monstertext{
    position: absolute;
    top: 1310px;
    left: 435px;
    font-size: 16px;
    font-weight: 200;
}
.whatwedotext{
    font-family: 'Lora Regular', serif;
    color:white;
    margin-left: 12px;
}
.whatwedoheader{
    position: absolute;
    top: 460px;
    left: auto;
}
.whatwedopagetext{
    position: absolute;
    top: 530px;
    left: auto;
    line-height: 1.6;
    margin-right: 12px;
}
.basemap{
    position: absolute;
    top: 120px;
    left: 950px;
    height: auto;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
}
.test1text{
    position: absolute;
    top: 440px;
    left: 950px;
    font-size: 16px;
    font-weight: 200;
}
.earlydevelopmentheader{
    position: absolute;
    top: 740px;
    left: auto;
}
.earlydevelopmenttext{
    position: absolute;
    top: 810px;
    left: auto;
    line-height: 1.6;
    margin-right: 12px;
}
.testmap2{
    position: absolute;
    top: 900px;
    left: 90px;
    height: auto;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
}
.image1earlydevelopmenttext{
    position: absolute;
    top: 1235px;
    left: 90px;
    font-size: 16px;
    font-weight: 200;
}
.Arrow1{
    position: absolute;
    top: 1030px;
    left: 440px;
    font-size: 49px;
    font-weight: 200;
    color: white;
}
.testmap3{
    position: absolute;
    top: 950px;
    left: 510px;
    height: auto;
    width: 350px;
    border: 2px solid rgb(255, 255, 255);
}
.image2earlydevelopmenttext{
    position: absolute;
    top: 1200px;
    left: 510px;
    font-size: 16px;
    font-weight: 200;
}
.Arrow2{
    position: absolute;
    top: 1030px;
    left: 910px;
    font-size: 49px;
    font-weight: 200;
    color: white;
}
.testmap4{
    position: absolute;
    top: 950px;
    left: 985px;
    height: auto;
    width: 350px;
    border: 2px solid rgb(255, 255, 255);
}
.image3earlydevelopmenttext{
    position: absolute;
    top: 1200px;
    left: 985px;
    font-size: 16px;
    font-weight: 200;
}
.aibot{
    position: absolute;
    top: 120px;
    left: 500px;
    width: 25%;
    height: 75%;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
}
.cat{
    position: absolute;
    top: 700px;
    left: 1020px;
    height: auto;
    width: 150px;
}
.textundercat{
    position: absolute;
    top: 830px;
    left: 1020px;
    font-size: 16px;
    font-weight: 200;
}
.websitecontributorstext{
    font-family: 'Lora Regular', serif;
    color:white;
    margin-left: 12px;
}
.websitecontributorheader{
    position: absolute;
    top: 450px;
    left: auto;
}
.websitecontributorstextunderhenader{
    position: absolute;
    top: 515px;
    left: auto;
    line-height: 1.6;
}
.contributorslist{
    position: absolute;
    top: 700px;
    left: auto;
    line-height: 1.6;
    margin-right: 12px;
}
.contributorslistheader{
    position: absolute;
    top: 620px;
    left: auto;
}
.image1websitecontributors{
    position: absolute;
    top: 400px;
    left: 800px;
    height: auto;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
}
.image2websitecontributors{
    position: absolute;
    top: 700px;
    left: 800px;
    height: 300px;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
}
.thankyoutext{
    position: absolute;
    top: 970px;
    left: auto;
    font-size: 16px;
    font-weight: 200;
    color: white;
    font-family: 'Lora Regular', serif;
}
.textunderimageswebsitecontributors{
    position: absolute;
    top: 667px;
    left: 870px;
    font-size: 16px;
    font-weight: 200;
    color: white;
    font-family: 'Lora Regular', serif;
}
.ourgametext{
    font-family: 'Lora Regular', serif;
    color:white;
    margin-left: 12px;
}
.ourgameheader{
    position: absolute;
    top: 450px;
    left: auto;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
}
.ourgametext1{
    position: absolute;
    top: 550px;
    left: auto;
    line-height: 1.6;
}
.unrealengineimage{
    position: absolute;
    top: 550px;
    left: 800px;
    height: auto;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
}
.draganddrop{
    position: absolute;
    top: 900px;
    left: 800px;
    height: auto;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
}
.pool{
    position: absolute;
    top: 700px;
    left: 100px;
    height: auto;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
}
.ourgametext2{
    position: absolute;
    top: 1000px;
    left: 155px;
    font-size: 16px;
    font-weight: 200;
}
.Images{
    position: absolute;
    top: 1050px;
    left: 50px;
    height: auto;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.unrealphoto2{
    height: 250px;
    width: 320px;
}
.lightroom{
    height: 250px;
    width: 320px;
}
.keycard{
    height: 200px;
    width: 320px;
}
.doorphoto{
    height: 300px;
    width: 320px;
}
.ourgametext3{
    position: absolute;
    top: 1525px;
    left: 65px;
    font-size: 16px;
    font-weight: 200;
}

.indexanim {
    opacity: 0;
    transform: translateX(300px);
    animation: moveleft 1.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveleft {
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.indexanim2 {
    opacity: 0;
    transform: translateX(-300px);
    animation: moveright 1.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveright {
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}